<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Hub</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<style>
    h2 {
        margin-top: 15px;
    }

    .block {
        display: block;
        border: 1px solid;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .flex {
        display: flex;
        max-width: 2000px;
        margin: auto;
        justify-content: space-around;
    }

    .center {
        text-align: center;
    }

    .flexed {
        max-width: 800px;
    }


</style>

<h1 style="text-align: center">Space Agency Data Hub</h1>

<div class="flex" id="app">
    <div class="block flexed">
        <h2 class="center">Products</h2>
        <div id="products">
            <div v-for="product in products" :key="product.id">
                <div style="position: relative; width: 580px">
                    <div>
                        <strong>[{{ product.name }}]</strong>
                        <span style="position: absolute; right: 0"><input type="button" value="Order" @click="order(product)"/></span>
                        <ul>
                            <li><strong>Price:</strong> {{ product.price }} $</li>
                            <li><strong>Url:</strong> hidden</li>
                            <li><strong>Creation date:</strong> {{ product.creationDate }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flexed">
        <div class="block">
            <h2 class="center">Search</h2>
            <div id="filters">
                <div>
                    <div> 
                        <input type="name" placeholder="Name" v-model="search_name" />
                        <input type="button" value="Find" @click="find" style="margin-left: 5px;"/>
                    </div> 
                    <div style="position: relative; width: 580px">
                        <div v-for="product in found_products" :key="product.id">
                            <div style="position: relative; width: 580px">
                                <div>
                                    <strong>[{{ product.name }}]</strong>
                                    <span style="position: absolute; right: 0"><input type="button" value="Order" @click="order(product)"/></span>
                                    <ul>
                                        <li><strong>Price:</strong> {{ product.price }} $</li>
                                        <li><strong>Url:</strong> hidden</li>
                                        <li><strong>Creation date:</strong> {{ product.creationDate }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block">
                <h2 class="center">Order list</h2>
            <div id="orders">
                <div style="position: relative; width: 580px">
                    <div v-for="product in ordered_products" :key="product.id">
                        <div style="position: relative; width: 580px">
                            <div>
                                <strong>[{{ product.name }}]</strong>
                                <span style="position: absolute; right: 0"><input type="button" value="X" @click="removeOrder(product)"/></span>
                                <ul>
                                    <li><strong>Price:</strong> {{ product.price }} $</li>
                                    <li><strong>Url:</strong> hidden</li>
                                    <li><strong>Creation date:</strong> {{ product.creationDate }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="End order" @click="endOrder" />
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>

</script>

<script src="/js/customer.js"></script>
</body>
</html>